.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox__title {
  color: #a0a0a0 !important;
}

.infoBox:not(:last-child) {
  margin-right: 20px;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
.infoBox__cases--green {
  color: lightgreen !important;
}

.infoBox__total {
  color: #6c6c6c !important;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 0.15px !important;
}

.infoBox--selected {
  border-top: 5px solid greenyellow;
}
.infoBox--red {
  border-color: red;
}
